[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Neojdpm
[access "refs/for/refs/*"]
	read = group user/Neojdpm
	push = group user/Neojdpm
	label-Code-Review = -2..+2 group user/Neojdpm
	label-Verified = -1..+1 group user/Neojdpm
	rebase = group user/Neojdpm
	removeReviewer = group user/Neojdpm
	submit = group user/Neojdpm
[access "refs/heads/*"]
	read = group user/Neojdpm
	create = group user/Neojdpm
	push = +force group user/Neojdpm
	pushMerge = group user/Neojdpm
[access "refs/tags/*"]
	push = group user/Neojdpm
	push = +force group user/Neojdpm
